<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>



<p>
  <strong>Favorite:</strong>
  <%= @item.favorite %>
</p>
<p>
  <strong>Box:</strong>
  <%= @item.box.try(:name) %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
